.skill-card__container {
  width: 100%;
  height: 8rem;
  background-color: var(--light-plain-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px var(--active-link-color) solid;
  cursor: pointer;
  border-radius: 10px;
  padding: 7px;
}
.skill-card__container:hover {
  background-color: var(--active-link-color);
}
.img-box {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--light-plain-color);
}

.img-box img {
  width: 100%;
  height: 100%;
}
.img-box.little-scout img {
  width: 80%;
  height: 80%;
}

.skill-card__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(40%);
}

.skill-card__title h2 {
  color: var(--dark-blue-component-color);
  font-size: 1.25rem;
}

.skill-card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 20%;
  align-items: flex-end;
}
.skill-card__level {
  color: var(--dark-blue-component-color);
  font-size: 1.7rem;
  font-weight: 700;
  width: 100px;
  text-align: end;
}
.skill-card__type {
  color: var(--dark-blue-component-color);
  font-size: 1rem;
  font-weight: 700;
  width: 100px;
  text-align: center;
}
@media screen and (max-width: 1600px) {
  .skills-scroller__title h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .skill-card__type {
    font-size: 0.8rem;
  }
  .skill-card__level {
    font-size: 5vmin;
  }
  .skill-card__title h2 {
    font-size: 1.3vmax;
    width: 80%;
  }
  .img-box {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (max-height: 500px), (max-width: 400px) {
  .img-box {
    width: 5rem;
    height: 5rem;
  }
  .skill-card__type {
    font-size: 0.6rem;
  }
  .skill-card__title h2 {
    font-size: 2.5vmin;
  }
  .skill-card__container {
    height: auto;
  }
}
