@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --light-plain-color: #ffffff;
  --active-link-color:#7f8fa6;
  --dark-plain-color: #000;
  --dark-blue-component-color: #1B1464;
  --light-blue-color:#48dbfb;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color:var(--light-plain-color)
}

body{
  width:100%;
  min-height:100vh;
}

body::-webkit-scrollbar {
	display:none;
}

@keyframes right-side-slide{
  from{
    right:-400px;
  }
  to{
    right:0px;
  }
}
@keyframes right-side-slide-back{
  from{
    right:0px;
  }
  to{
    right:-800px;
  }
}