.types-page{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.types-page h1{
    color:var(--dark-blue-component-color);
}

.types-page__card-box{
    width:100%;
    height:50vh;
}