.welcome-page__container{
    width:100%;
    height:calc(100vh);
    background:url("../../shared/img/sunset.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    background-color: #e5e5f7;
    margin-top:4rem;
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.welcome-page__container .empty{
    height:100px;
    width:100%;
}

.welcome-page__container h1{
    width:500px;
    text-align: center;
    margin-bottom:10px;
}
.organizer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.empty{
    width:100%;
    height:50px;
}


@media screen and (max-width:750px) {
    .welcome-page__container{
        height:calc(100vh - 4rem);
        margin:0px;
        height:100vh;
        justify-content: center;;
    }
    .welcome-page__container h1{
        width:80%;
        margin:0;
        margin-bottom:20px;
        font-size:6vmin;
    }
}
@media screen and (max-height: 800px) {
    .welcome-page__container h1{
        font-size: 4vmin;
    }
    .welcome-page__container{
        justify-content: space-between;

    }
    .welcome-page__container .organizer{
        margin-bottom:40px;
    }
}
@media screen and (max-height:400px){
    .welcome-page__container{
        justify-content: center;

    }
    .empty{
        display: none;
    }
}